<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>bg_92</key>
        <dict>
            <key>frame</key>
            <string>{{2,2},{470,414}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{470,414}}</string>
            <key>sourceSize</key>
            <string>{470,414}</string>
        </dict>
        <key>bg_52</key>
        <dict>
            <key>frame</key>
            <string>{{2,420},{178,94}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{178,94}}</string>
            <key>sourceSize</key>
            <string>{178,94}</string>
        </dict>
        <key>bg_51</key>
        <dict>
            <key>frame</key>
            <string>{{184,420},{162,100}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{162,100}}</string>
            <key>sourceSize</key>
            <string>{162,100}</string>
        </dict>
        <key>btn_16</key>
        <dict>
            <key>frame</key>
            <string>{{350,420},{150,70}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{150,70}}</string>
            <key>sourceSize</key>
            <string>{150,70}</string>
        </dict>
        <key>btn_18</key>
        <dict>
            <key>frame</key>
            <string>{{350,494},{150,70}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{150,70}}</string>
            <key>sourceSize</key>
            <string>{150,70}</string>
        </dict>
        <key>btn_12</key>
        <dict>
            <key>frame</key>
            <string>{{2,518},{150,70}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{150,70}}</string>
            <key>sourceSize</key>
            <string>{150,70}</string>
        </dict>
        <key>btn_19</key>
        <dict>
            <key>frame</key>
            <string>{{156,524},{136,64}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{7,3},{136,64}}</string>
            <key>sourceSize</key>
            <string>{150,70}</string>
        </dict>
        <key>btn_13</key>
        <dict>
            <key>frame</key>
            <string>{{296,568},{136,64}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{7,3},{136,64}}</string>
            <key>sourceSize</key>
            <string>{150,70}</string>
        </dict>
        <key>btn_17</key>
        <dict>
            <key>frame</key>
            <string>{{2,592},{136,64}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{7,3},{136,64}}</string>
            <key>sourceSize</key>
            <string>{150,70}</string>
        </dict>
        <key>JiaZai1</key>
        <dict>
            <key>frame</key>
            <string>{{142,592},{104,104}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{104,104}}</string>
            <key>sourceSize</key>
            <string>{104,104}</string>
        </dict>
        <key>JiaZai2</key>
        <dict>
            <key>frame</key>
            <string>{{2,660},{98,98}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{98,98}}</string>
            <key>sourceSize</key>
            <string>{98,98}</string>
        </dict>
        <key>XinShouZhiYinNPCMingZiDi</key>
        <dict>
            <key>frame</key>
            <string>{{250,636},{84,46}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{84,46}}</string>
            <key>sourceSize</key>
            <string>{84,46}</string>
        </dict>
        <key>SanJiDanKuang</key>
        <dict>
            <key>frame</key>
            <string>{{436,568},{68,58}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{68,58}}</string>
            <key>sourceSize</key>
            <string>{68,58}</string>
        </dict>
        <key>record-bk</key>
        <dict>
            <key>frame</key>
            <string>{{436,630},{38,48}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,48}}</string>
            <key>sourceSize</key>
            <string>{38,48}</string>
        </dict>
        <key>Wan</key>
        <dict>
            <key>frame</key>
            <string>{{250,592},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>Zai</key>
        <dict>
            <key>frame</key>
            <string>{{296,524},{36,37}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{36,37}}</string>
            <key>sourceSize</key>
            <string>{36,37}</string>
        </dict>
        <key>Ming</key>
        <dict>
            <key>frame</key>
            <string>{{338,636},{36,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{36,36}}</string>
            <key>sourceSize</key>
            <string>{36,36}</string>
        </dict>
        <key>Zhong</key>
        <dict>
            <key>frame</key>
            <string>{{378,636},{36,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{36,36}}</string>
            <key>sourceSize</key>
            <string>{36,36}</string>
        </dict>
        <key>Jia</key>
        <dict>
            <key>frame</key>
            <string>{{338,676},{36,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{36,36}}</string>
            <key>sourceSize</key>
            <string>{36,36}</string>
        </dict>
        <key>btn-record1</key>
        <dict>
            <key>frame</key>
            <string>{{478,630},{30,30}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{30,30}}</string>
            <key>sourceSize</key>
            <string>{30,30}</string>
        </dict>
        <key>btn-record2</key>
        <dict>
            <key>frame</key>
            <string>{{478,664},{24,28}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{24,28}}</string>
            <key>sourceSize</key>
            <string>{24,28}</string>
        </dict>
        <key>Dian</key>
        <dict>
            <key>frame</key>
            <string>{{418,636},{14,13}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{14,13}}</string>
            <key>sourceSize</key>
            <string>{14,13}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>JiaZai.png</string>
        <key>size</key>
        <string>{510,760}</string>
        <key>smartupdate</key>
        <string>$TexturePacker:SmartUpdate:$</string>
        <key>textureFileName</key>
        <string>JiaZai.png</string>
    </dict>
</dict>
</plist>