<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>ui-pack-JieMian-JiaZai-JiaZai1</key>
        <dict>
            <key>frame</key>
            <string>{{2,2},{77,80}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{77,80}}</string>
            <key>sourceSize</key>
            <string>{77,80}</string>
        </dict>
        <key>ui-pack-JieMian-JiaZai-JiaZai2</key>
        <dict>
            <key>frame</key>
            <string>{{2,86},{77,78}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,1},{77,78}}</string>
            <key>sourceSize</key>
            <string>{77,80}</string>
        </dict>
        <key>ui-pack-JieMian-JiaZai-JiaZai3</key>
        <dict>
            <key>frame</key>
            <string>{{2,168},{77,74}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,3},{77,74}}</string>
            <key>sourceSize</key>
            <string>{77,80}</string>
        </dict>
        <key>ui-pack-JieMian-JiaZai-JiaZai5</key>
        <dict>
            <key>frame</key>
            <string>{{83,2},{77,78}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,1},{77,78}}</string>
            <key>sourceSize</key>
            <string>{77,80}</string>
        </dict>
        <key>ui-pack-JieMian-JiaZai-JiaZai4</key>
        <dict>
            <key>frame</key>
            <string>{{164,2},{77,80}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{77,80}}</string>
            <key>sourceSize</key>
            <string>{77,80}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>JiaZai.png</string>
        <key>size</key>
        <string>{243,244}</string>
        <key>smartupdate</key>
        <string>$TexturePacker:SmartUpdate:$</string>
        <key>textureFileName</key>
        <string>JiaZai.png</string>
    </dict>
</dict>
</plist>